window {
  border: none;
  border-radius: 6px;
  background: #14191E;
}

window#osd #container {
  padding: 0px 0px 0px 0px;
  margin: -4px 0px;
}

label {
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 13px;
  margin: 0px 0px 0px -8px;
  color: #E0E6EB;
}

image {
  margin: 0px -10px 0px 0px;
  color: #E0E6EB;
  -gtk-icon-transform: scale(0.4);
}

progressbar {
  border-radius: 6px;
  min-height: 3px;
}

progress {
  background-color: #E0E6EB;
}
