* {
  border: none;
  border-radius: 6px;
  font-family: "JetBrainsMono Nerd Font Propo, Noto Sans CJK JP";
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
  padding: 0;
}
#workspaces {
  background: #14191E;
  color: #E0E6EB;
}
#workspaces button {
  padding: 0px 5.5px 0px 5.5px;
  background: #14191E;
  color: #E0E6EB;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button.empty {
  opacity: 0.5;
}
#window {
  padding: 0px 7px 0px 7px;
  background: #14191C;
  color: #E0E6EB;
}
window#waybar,
window#waybar.empty #window {
  background: transparent;
  color: transparent;
}
#clock,
#network {
  padding: 0px 7px 0px 7px;
  background: #14191E;
  color: #E0E6EB;
}
#mpris.status {
  font-size: 12.9px;
}
#mpris,
#wireplumber,
#custom-shp9500,
#custom-off,
#custom-arch,
#custom-lock,
#custom-sleep,
#custom-restart,
#custom-shutdown {
  padding: 0px 5.5px 0px 5.5px;
  background: #14191E;
  color: #E0E6EB;
}
#group-media,
#group-audio,
#group-power {
  padding: 0px 2.75px 0px 2.75px;
  background: #14191E;
  color: #E0E6EB;
}
tooltip {
  background: #14191E;
}
tooltip label {
  color: #E0E6EB;
}
